/* RESETS */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
p {
    margin: 10px 0;
}

img {
    width: 100%;
}


/* Navbar Styles */

.navbar {
    background-color: blue;
    color: white;
    height: 75px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 0 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: white 2px solid;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 50px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/* Showcase */

.showcase {
    max-height: 425px;
    position: relative;
}

.showcase p {
    position: absolute;
}